.post-navigation {
	border-top: 1px solid #cdcdcd;
	border-bottom: 1px solid #cdcdcd;

	.nav-links {
		display: flex;
		flex-wrap: wrap;
		gap: .625rem 10px;
	}

	.nav-previous,
	.nav-next {
		@mixin a11y-padding 30, 0;
		flex-basis: 100%;

		@media (--medium) {
			flex-basis: calc(50% - 10px);
		}

		a {
			display: flex;
			align-items: center;
			color: inherit;
			text-decoration: none;
			height: 100%;
		}

		[class^="icon-"] {
			font-size: 1.5rem;
			opacity: .5;
		}
	}

	.nav-previous {
		position: relative;

		&:not(:last-child)::after {
			content: '';
			position: absolute;
			right: 0;
			left: 0;
			bottom: -5px;
			height: 1px;
			background-color: #cdcdcd;

			@media (--medium) {
				top: 20%;
				right: -5px;
				bottom: 20%;
				left: unset;
				width: 1px;
				height: auto;
			}
		}
	}

	.nav-next {
		text-align: right;
	}

	.nav-links-wrap {
		padding-left: var(--wp--preset--spacing--20);
		padding-right: var(--wp--preset--spacing--20);
	}

	.nav-links-label {
		font-size: .75rem;
		display: block;
		opacity: .7;
	}

	.nav-links-name {
		overflow: hidden;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 3;
		display: -webkit-box;
		font-weight: 700;

		@media (--medium) {
		-webkit-line-clamp: 2;
		}
	}
}
