html {

	&.has-nav-open {
		overflow: hidden;
	}
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	--admin-bar-height: 0px;

	&.admin-bar {
		--admin-bar-height: 46px;

		@mixin responsive-min 782px {
			--admin-bar-height: 32px;
		}
	}
}

/* Customize text selection */
/* ::selection {
	background: var(--wp--preset--color--foreground);
	color: var(--wp--preset--color--background);
}

::-moz-selection {
	background: var(--wp--preset--color--foreground);
	color: var(--wp--preset--color--background);
} */
