input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: var(--wp--preset--color--foreground);
	border: 1px solid var(--wp--preset--color--foreground);
	border-radius: 5px;
	padding: 3px;

	&:focus {
		color: var(--wp--preset--color--primary);
	}
}

select {
	border: 1px solid var(--wp--preset--color--foreground);
}

textarea {
	width: 100%;
}
